div.footer 
    div.footer__logo 
        img(src="/favicon_io/android-chrome-192x192.png", alt="trevell logo")
    ul.footer__nav 
        ls 
            a(href = '#') About Us 
            | 
        ls 
            a(href = '#') Download Apps
            | 
        ls 
            a(href = '#') Become a Guide 
            | 
        ls 
            a(href = '#') Careers 
            | 
        ls 
            a(href = '#') Contact  
            | 

    p.footer__copyright &copy; by trevell 
