
extend base
block content 
    main.main
        .forgotPassword-form
            h2.heading-secondary.ma-bt-lg Enter your email to continue...
            form.form.form--forgotPassword(autocomplete='off')
                .form__group
                    label.form__label(for='email') Email address
                    input#emailFP.form__input__login(type='email', placeholder='you@example.com',    required)
                .form__group
                    button.btn.btn--green SUBMIT
