
extend base
block content 
    main.main
        .resetPassword-form
            h2.heading-secondary.ma-bt-lg Reset Password
            form.form.form--resetPassword(autocomplete='off')
                .form__group
                    label.form__label(for='password') New Password
                    input#password-new.form__input__login(type='password',placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password') Password Confirm
                    input#password-new-confirm.form__input__login(type='password',placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Change Password
